.vs/
3DWorld.VC.VC.opendb
3DWorld.VC.db
3DWorld.sdf
3DWorld.sln.docstates.suo
3DWorld.suo
3DWorld.vcxproj.user
Debug/
Release/
Samples/
obj/
lib/
noback/
deps_build/
screenshot*.jpg
screenshot*.bmp
heightmap.png
positions.log.txt
state.txt
shaders/generated/*
textures/skybox/skybox*.png
textures/skybox/craterlake
textures/pictures
textures/papers
textures/food_boxes
dependencies/freeglut-2.8.1/progs/demos/x64
dependencies/meshoptimizer/src/*.o
dependencies/openal-soft/CMakeFiles
dependencies/freealut/CMakeCache.txt
dependencies/freealut/CMakeFiles/
dependencies/openal-soft/OpenAL.vcxproj.user
dependencies/tiff-4.3.0
house/snow.wind.map
temp_assimp_embedded_image.*
lib32/assimp-vc140-mt.dll
TAGS
*~
