.vs/
3DWorld.VC.VC.opendb
3DWorld.VC.db
3DWorld.sdf
3DWorld.sln.docstates.suo
3DWorld.suo
3DWorld.vcxproj.user
Debug/
Release/
Samples/
obj/
lib/
noback/
ffmpeg.exe.lnk
deps_build/
screenshot*.jpg
video_out*.mp4
positions.log.txt
state.txt
shaders/generated/*
textures/skybox/skybox*.png
textures/skybox/craterlake
textures/skybox/ely_hills
textures/pictures
textures/fabrics
textures/papers
dependencies/meshoptimizer/src/*.o
dependencies/tracy*
dependencies/libjpeg-turbo-32
house/snow.wind.map
TAGS
*~
