.vs/
3DWorld.VC.VC.opendb
3DWorld.VC.db
3DWorld.sdf
3DWorld.sln.docstates.suo
3DWorld.suo
3DWorld.vcxproj.user
Debug/
Release/
Samples/
obj/
lib/
noback/
ffmpeg.exe.lnk
freealut-1.1.0-bin/
freeglut-2.8.1/
glew-2.0.0/
jpeg-9a/
libpng-1.2.20/
tiff-4.0.3/
zlib-1.2.1/
zlib/
screenshot*.jpg
video_out*.mp4
positions.log.txt
state.txt
shaders/generated/*
textures/skybox/skybox*.png
textures/skybox/craterlake
textures/skybox/ely_hills
TAGS
*~
